# 파이썬 데이터프레임 예제

In [1]:
import numpy as np
import pandas as pd

# 호스트와 취약점 개수를 포함하는 df생성

In [3]:
asserts_df = pd.DataFrame({
    "name" : ["danuve","gander","ganges","mekong","orinoco"],
    "os" : ["W2K8","RHEL5","W2K8","RHEL5","RHEL5"],
    "highvulns" : [1,0,2,0,0]
})

In [ ]:
# 호스트와 취약점 개수를 포함하는 데이터프레임을 만든다.

In [4]:
print(asserts_df.dtypes)

name         object
os           object
highvulns     int64
dtype: object

In [5]:
asserts_df.head()

      name     os  highvulns
0   danuve   W2K8          1
1   gander  RHEL5          0
2   ganges   W2K8          2
3   mekong  RHEL5          0
4  orinoco  RHEL5          0

In [ ]:
# 운영체제만 따로 보여준다.

In [6]:
asserts_df.os.head()

0     W2K8
1    RHEL5
2     W2K8
3    RHEL5
4    RHEL5
Name: os, dtype: object

In [ ]:
# 새로운 열을 추가한다.

In [7]:
asserts_df['ip'] = ["192.168.1.5","10.2.7.5","192.168.1.7",
                    "10.2.7.6","10.2.7.7"]

In [ ]:
# 이상의 취약점을 갖는 노드만을 보여준다.

In [8]:
asserts_df[asserts_df.highvulns>1].head()

     name    os  highvulns           ip
2  ganges  W2K8          2  192.168.1.7

In [ ]:
# ip 주소에 근거하여 노드들을 네트워크 'zone'으로 분할 시킨다.

In [9]:
asserts_df['zones1'] = np.where(
    asserts_df.ip.str.startswith("192"),"zone1","zone2")

In [ ]:
# 최종적인 데이터프레임을 출력한다.

In [10]:
asserts_df.head()

      name     os  highvulns           ip zones1
0   danuve   W2K8          1  192.168.1.5  zone1
1   gander  RHEL5          0     10.2.7.5  zone2
2   ganges   W2K8          2  192.168.1.7  zone1
3   mekong  RHEL5          0     10.2.7.6  zone2
4  orinoco  RHEL5          0     10.2.7.7  zone2